<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Book Store</title>
</head>

<body>
  Your Balance: <%= balance %>
    <form action="confirm" method="post">
      <img src="book-cover.jpg" alt="Book Cover" style="width:100px;height:100px;"><br>
      <input type="hidden" name="isbn" value="<%= bookData.isbn %>">
      <input type="hidden" name="quantity" value="<%= bookData.quantity %>">
      <input type="hidden" name="unitprice" value="<%= bookData.unitprice %>">
      <input type="submit" value="Buy This Book">
    </form>
</body>

</html>